.sectionHeader{
	background-color: #ebebeb;
	padding-bottom: 10px;

	/*height*/
}

.subSection{
	margin-top: 10px;
	margin-bottom: 10px;
	
}


.toolbar{
	bottom:0;
}

/*h2{
	color: white;
}*/

/*.navbar, .subnavbar, .toolbar{
	background: #1976D2;
}*/

.profileHeader{
	background-color: #1976D2;
	color:white;
}